#
# from original wiki:
#
opencv-python
pynput
pyserial
Pillow
pythonnet

#
# from forked README:
# 
pygubu
requests
pandas
numpy

#
# requirements not mentioned in the documents above:
#
scipy

loguru
deprecated
icecream
pyyaml
setuptools

gitpython==3.1.44

#
# missing recommendations for Windows/3.10+
#
pygame
plyer
windows-capture-device-list
paho-mqtt
PyAudio

